<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTunesRichPresence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <iTunesRichPresence.Properties.Settings>
            <setting name="DetailsFormat" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="StateFormat" serializeAs="String">
                <value>%playlist_type: %playlist_name</value>
            </setting>
            <setting name="PausedDetailsFormat" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="PausedStateFormat" serializeAs="String">
                <value>Paused</value>
            </setting>
        </iTunesRichPresence.Properties.Settings>
    </userSettings>
</configuration>
