<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTunesRichPresence_Rewrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <iTunesRichPresence_Rewrite.Properties.Settings>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayingTopLine" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="PlayingBottomLine" serializeAs="String">
                <value>%playlist_type: %playlist_name</value>
            </setting>
            <setting name="PausedTopLine" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="PausedBottomLine" serializeAs="String">
                <value>Paused</value>
            </setting>
            <setting name="DisplayPlaybackDuration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ExperimentsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>iTunes</value>
            </setting>
            <setting name="ClearOnPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </iTunesRichPresence_Rewrite.Properties.Settings>
    </userSettings>
</configuration>
