<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iTunesRichPresence_Rewrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <iTunesRichPresence_Rewrite.Properties.Settings>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayingTopLine" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="PlayingBottomLine" serializeAs="String">
                <value>%playlist_type: %playlist_name</value>
            </setting>
            <setting name="PausedTopLine" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="PausedBottomLine" serializeAs="String">
                <value>Paused</value>
            </setting>
            <setting name="DisplayPlaybackDuration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ExperimentsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>iTunes</value>
            </setting>
            <setting name="ClearOnPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </iTunesRichPresence_Rewrite.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.4" newVersion="3.0.2.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Octokit" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.30.0.0" newVersion="0.30.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpRaven" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
